<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>freddy&nbsp;</h1>freddy at home><br>
        <h2>Message: <%=message%>
                <%=message %>
        </h2>
        <img src='images/img.png' alt="am">
    </div>
</body>

</html>